.container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .container {
    width: 91%;
    max-width: 1050px;
  }
}
html {
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}
.ghost-btn {
  padding: 16px 0;
  background-color: transparent;
  border: 2px solid #444444;
  font-family: "open sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  color: #444444;
  text-align: center;
  text-transform: uppercase;
  transition: background-color 0.2s, color 0.2s;
}
.ghost-btn:hover {
  color: #ffffff;
  background-color: #444444;
}
.ghost-btn:active {
  color: rgba(255, 255, 255, 0.3);
}
.ghost-btn:focus {
  outline: none;
}
.common-link {
  position: relative;
  color: #444444;
  text-decoration: none;
}
.common-link::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 1px;
  background-color: #62d1ba;
}
.common-link:hover {
  color: #62d1ba;
}
.common-link:active {
  opacity: 0.3;
}
.main-nav {
  margin: 0 auto;
  position: relative;
  font-family: verdana, sans-serif;
}
@media (min-width: 768px) {
  .main-nav {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .main-nav {
    width: 91%;
    max-width: 1050px;
  }
}
.main-nav__visible {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 80px;
  padding: 0 30px;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  background-color: #ffffff;
}
.main-nav__logo-wrapper {
  margin: 0 auto;
}
.main-nav__logo {
  transition: opacity 0.3s;
}
.main-nav__logo:hover {
  opacity: 0.6;
}
.main-nav__logo:active {
  opacity: 0.3;
}
[class^="main-nav__list"] {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.main-nav__item a {
  position: relative;
  display: block;
  padding: 27px 0;
  padding-left: 23%;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
  transition: background-color 0.5s;
}
.main-nav__item a:hover {
  background-color: #f1f1f1;
}
.main-nav__item a:active {
  background-color: #d6d6d6;
  color: rgba(0, 0, 0, 0.3);
}
.search-icon,
.cart-icon {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  left: 10%;
  fill: #231F20;
  opacity: 0.2;
  transition: opacity 0.3s, fill 0.3s;
}
.main-nav__item_search:hover .search-icon,
.main-nav__item_cart:hover .cart-icon {
  fill: #63d1bb;
  opacity: 1;
}
.main-nav__item_search:active .search-icon,
.main-nav__item_cart:active .cart-icon {
  opacity: 0.3;
}
@media (max-width: 767px) {
  .main-nav__toggle {
    position: absolute;
    right: 30px;
    width: 20px;
    height: 20px;
    padding: 0;
    background-color: transparent;
    border: none;
  }
  .main-nav__toggle:focus {
    outline: none;
  }
  .main-nav_opened .main-nav__toggle::before,
  .main-nav_opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -3px;
    height: 4px;
    width: 26px;
    border-radius: 4px;
    background-color: #000000;
  }
  .main-nav_opened .main-nav__toggle::before {
    transform: rotate(45deg);
  }
  .main-nav_opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
  .main-nav_opened .main-nav__toggle:hover::before,
  .main-nav_opened .main-nav__toggle:hover::after {
    background-color: #666666;
  }
  .main-nav_opened .main-nav__toggle:active::before,
  .main-nav_opened .main-nav__toggle:active::after {
    background-color: #b2b2b2;
  }
  .main-nav_closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 20px;
    height: 2px;
    background-color: #000000;
    box-shadow: 0 6px 0 0 #000000,
                  0 12px 0 0 #000000;
  }
  .main-nav_closed .main-nav__toggle:hover::before {
    background-color: #666666;
    box-shadow: 0 6px 0 0 #666666,
                  0 12px 0 0 #666666;
  }
  .main-nav_closed .main-nav__toggle:active::before {
    background-color: #b2b2b2;
    box-shadow: 0 6px 0 0 #b2b2b2,
                  0 12px 0 0 #b2b2b2;
  }
  .main-nav__visible {
    z-index: 5;
  }
  .main-nav__list1,
  .main-nav__list2 {
    position: absolute;
    z-index: 4;
    width: 100%;
  }
  .main-nav__list2 {
    top: 238px;
  }
  @keyframes slideDown {
    0% {
      transform: translateY(-1000px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  .main-nav_opened .main-nav__list1,
  .main-nav_opened .main-nav__list2 {
    animation: slideDown 0.5s;
  }
  .main-nav_closed .main-nav__list1,
  .main-nav_closed .main-nav__list2 {
    display: none;
  }
  .main-nav_nojs .main-nav__toggle {
    display: none;
  }
  .main-nav_nojs .main-nav__list1,
  .main-nav_nojs .main-nav__list2 {
    position: static;
    display: block;
  }
}
.main-nav__search-icon,
.main-nav__list3,
.main-nav__delivery {
  display: none;
}
@media (min-width: 768px) {
  .page-header {
    border-bottom: 1px solid #ececec;
  }
  .main-nav {
    display: flex;
    justify-content: space-between;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__visible {
    display: inline-flex;
    padding: 0;
  }
  .main-nav__list2 {
    display: inline-flex;
    flex-direction: row;
    align-items: stretch;
  }
  .main-nav__list2 a:hover {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.6);
  }
  .main-nav__list2 a:active {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.3);
  }
  .main-nav__item_search span {
    display: none;
  }
  .main-nav__item a {
    border: none;
  }
  .main-nav__item_search a {
    height: 100%;
    min-width: 84px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }
  .search-icon {
    top: 50%;
    margin-top: -9px;
    left: 50%;
    margin-left: -9px;
  }
  .main-nav__list2 {
    width: auto;
  }
  .main-nav__item_cart a {
    min-width: 263px;
    max-width: 100%;
  }
  .cart-icon {
    top: 50%;
    margin-top: -9px;
  }
  .main-nav__list1 {
    flex-direction: row;
    position: absolute;
    z-index: 5;
    bottom: -35px;
  }
  .main-nav__delivery {
    display: block;
    position: absolute;
    z-index: 5;
    bottom: -35px;
    right: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #444444;
  }
}
@media (min-width: 768px) and (min-width: 768px) and (max-width: 1150px) {
  .main-nav__list1 a {
    padding: 0;
    margin-right: 35px;
    background-color: transparent;
    font-size: 14px;
    line-height: 24px;
  }
  .main-nav__list1 a:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.6);
  }
  .main-nav__list1 a:active {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1150px) {
  .main-nav {
    justify-content: space-between;
  }
  .main-nav__list1 {
    position: static;
    order: -1;
  }
  .main-nav__list1 a {
    padding-left: 35px;
    padding-right: 35px;
  }
  .main-nav__list1 a:hover {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.6);
  }
  .main-nav__list1 a:active {
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.3);
  }
  .main-nav__item_catalog a {
    padding-left: 0;
    border-right: 1px solid #ececec;
  }
  .main-nav__list2 {
    padding-left: 68px;
  }
  .main-nav__list3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 5;
    bottom: -45px;
    left: 0;
  }
  .main-nav__list3 a {
    padding: 0;
    margin-right: 60px;
    background-color: transparent;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
  }
  .main-nav__list3 a:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.6);
  }
  .main-nav__list3 a:active {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.3);
  }
  .main-nav__delivery {
    bottom: -45px;
  }
}
.promo {
  background-color: #f9f9f9;
}
.promo__inner-wrapper {
  margin: 0 auto;
  background-image: url("../img/promo-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-position: center top;
}
@media (min-width: 768px) {
  .promo__inner-wrapper {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .promo__inner-wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
.promo__title {
  min-height: 300px;
  padding: 85px 30px 110px;
  margin: 0;
  font-family: verdana, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}
.promo__btns {
  display: flex;
  flex-direction: column;
}
.promo__btn {
  position: relative;
  padding: 28px 0 28px 30px;
  font-family: tahoma, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
.promo__btn::after {
  content: "";
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -40px;
  width: 80px;
  height: 80px;
  background: url("../img/promo-sprite.png") no-repeat;
  opacity: 0.5;
}
.promo__btn:active {
  color: rgba(255, 255, 255, 0.3);
}
.promo__btn_decor {
  background-color: #63d1bb;
}
.promo__btn_decor::after {
  background-position: 18px 11px;
}
.promo__btn_decor:hover {
  background-color: #59d5bc;
}
.promo__btn_decor:hover::after {
  opacity: 0.7;
}
.promo__btn_decor:active::after {
  opacity: 0.3;
}
.promo__btn_toys {
  background-color: #56c3b2;
}
.promo__btn_toys::after {
  background-position: -94px 11px;
}
.promo__btn_toys:hover {
  background-color: #46c1ae;
}
.promo__btn_toys:hover::after {
  opacity: 0.7;
}
.promo__btn_toys:active::after {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .promo {
    position: relative;
  }
  .promo:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 24px;
    background: url("../img/zigzag-white.png") no-repeat;
    background-size: 100%;
  }
  .promo__inner-wrapper {
    background-image: url("../img/promo-bg.jpg");
    background-size: auto;
  }
  .promo__title {
    padding: 145px 70px 355px;
    font-size: 40px;
    line-height: 50px;
  }
  .promo__title br {
    display: none;
  }
  .promo__btns {
    flex-direction: row;
    justify-content: space-between;
  }
  .promo__btn {
    flex-grow: 1;
    padding-top: 36px;
    padding-bottom: 36px;
    transition: transform 0.3s;
  }
  .promo__btn:hover {
    transform: translateY(-5px);
  }
}
@media (min-width: 1150px) {
  .promo__title {
    padding: 165px 195px 360px;
    font-size: 50px;
    line-height: 57px;
  }
}
.week-product {
  position: relative;
  font-family: "open sans", sans-serif;
}
.week-product::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 40px;
  background: url("../img/zigzag-grey.png") no-repeat;
  background-position: center;
  background-size: 100%;
}
.week-product__inner-wrapper {
  position: relative;
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .week-product__inner-wrapper {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .week-product__inner-wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
.week-product__headline {
  margin-top: 30px;
}
.week-product__title {
  margin-top: 0;
  margin-bottom: 5px;
  font-family: verdana, sans-serif;
  font-size: 23px;
  line-height: 30px;
  font-weight: bold;
  text-align: left;
}
.week-product__mark {
  font-family: verdana, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
  text-align: left;
  color: #63d1bb;
  text-transform: uppercase;
}
.week-product__info {
  margin-bottom: 28px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}
.week-product__stats {
  width: 100%;
}
.week-product__stats tr {
  border-bottom: 1px solid #ececec;
}
.week-product__stats td {
  padding: 7px 0;
}
.week-product__photo-container {
  margin-bottom: 25px;
  text-align: center;
}
.week-product__price {
  margin-bottom: 25px;
  text-align: center;
  font-family: verdana, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  color: #444444;
}
.week-product__order-btn {
  width: 100%;
}
@media (min-width: 768px) {
  .week-product::after {
    bottom: -86px;
  }
  .week-product__inner-wrapper {
    padding: 0;
    margin-bottom: 80px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .week-product__headline {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
  }
  .week-product__title {
    margin-bottom: 0;
    font-size: 40px;
    line-height: 50px;
  }
  .week-product__mark {
    display: block;
    width: 150px;
    padding: 13px 25px 0;
    text-align: center;
  }
  .week-product__info {
    width: 50%;
    margin-bottom: 0;
    padding-right: 45px;
  }
  .week-product__description {
    margin-top: 0;
    margin-bottom: 50px;
  }
  .week-product__photo-container {
    width: 50%;
    margin-bottom: 0;
  }
  .week-product__purchase {
    position: absolute;
    bottom: 0;
    width: 50%;
    padding-right: 45px;
  }
  .week-product__order-btn {
    margin-bottom: 0;
  }
}
@media (min-width: 1150px) {
  .week-product__inner-wrapper {
    margin-top: 72px;
  }
  .week-product__headline {
    position: absolute;
    margin: 0;
    margin-top: 55px;
    width: 68%;
  }
  .week-product__title {
    font-size: 50px;
    line-height: 57px;
  }
  .week-product__mark {
    order: -1;
  }
  .week-product__info {
    padding-top: 160px;
    padding-left: 175px;
  }
  .week-product__purchase {
    padding-left: 175px;
  }
}
.about-us {
  font-family: verdana, sans-serif;
}
.about-us__inner-wrapper {
  margin: 0 auto;
  padding: 0 30px;
  padding-bottom: 30px;
  padding-top: 30px;
}
@media (min-width: 768px) {
  .about-us__inner-wrapper {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .about-us__inner-wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
.about-us__title {
  margin-top: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.about-us__advantage {
  position: relative;
  padding-top: 60px;
  margin-bottom: 30px;
  font-size: 16px;
  font-weight: bold;
}
.about-us__advantage:last-child {
  margin-bottom: 0;
}
.about-us__advantage::before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  height: 50px;
  width: 60px;
  background: url("../img/advantage-sprite.png") no-repeat;
}
.about-us__advantage_1::before {
  background-position: 0px 6px;
}
.about-us__advantage_2::before {
  background-position: 6px -111px;
}
.about-us__advantage_3::before {
  background-position: 4px -237px;
}
.about-us__advantage_4::before {
  background-position: 4px -363px;
}
.about-us__advantage_5::before {
  background-position: 4px -480px;
}
.about-us__advantage_6::before {
  background-position: 4px -608px;
}
@media (min-width: 768px) {
  .about-us__inner-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .about-us__title {
    font-size: 40px;
    line-height: 50px;
  }
  .advantages-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about-us__advantage {
    width: 50%;
    margin-bottom: 50px;
    padding-right: 50px;
    font-size: 20px;
  }
  .about-us__advantage:nth-child(5) {
    margin-bottom: 0;
  }
  .about-us__advantage_1 {
    order: 1;
  }
  .about-us__advantage_2 {
    order: 3;
  }
  .about-us__advantage_3 {
    order: 5;
  }
  .about-us__advantage_4 {
    order: 2;
  }
  .about-us__advantage_5 {
    order: 4;
  }
  .about-us__advantage_6 {
    order: 6;
  }
}
@media (min-width: 1150px) {
  .about-us__inner-wrapper {
    padding-left: 175px;
    padding-right: 175px;
  }
  .about-us__title {
    font-size: 50px;
    line-height: 57px;
  }
}
.responses {
  position: relative;
}
.responses::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
  height: 40px;
  background: url("../img/zigzag-grey.png") no-repeat;
  background-position: center;
  background-size: 100%;
}
.responses__inner-wrapper {
  margin: 0 auto;
  padding: 30px 30px 46px 30px;
  font-family: verdana, sans-serif;
}
@media (min-width: 768px) {
  .responses__inner-wrapper {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .responses__inner-wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
.responses__title {
  margin-top: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
.responses__visible {
  width: 100%;
  margin-bottom: 36px;
  overflow: hidden;
}
.responses__container {
  width: 300%;
  margin-bottom: 36px;
  display: flex;
  transition: transform 0.5s;
}
.responses__response {
  flex-basis: calc(33.33333333%);
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.responses__content {
  font-family: "open sans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
.responses__author-name {
  margin-top: auto;
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.responses__nik {
  font-family: "open sans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
.responses__ctrls {
  width: 100%;
  padding: 12px 35px;
  border: 1px solid #ececec;
  display: flex;
  justify-content: space-between;
}
.responses__ctrl {
  background: transparent url("../img/ctrl-arrows.png") no-repeat;
  border: none;
  width: 50px;
  height: 26px;
}
.responses__ctrl_prev {
  background-position: 0 0;
}
.responses__ctrl_next {
  background-position: -131px 0px;
}
.responses__ctrl:hover {
  opacity: 0.6;
}
.responses__ctrl:active {
  opacity: 0.3;
}
.responses__ctrl:focus {
  outline: none;
}
.responses__add-btn {
  width: 100%;
}
@media (min-width: 768px) {
  .responses {
    background-image: url("../img/responses-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .responses:after {
    bottom: -90px;
  }
  .responses__inner-wrapper {
    position: relative;
    z-index: 5;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
    padding-top: 30px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
  }
  .responses__title {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
    order: -2;
  }
  .responses__content {
    font-size: 16px;
    line-height: 30px;
  }
  .responses__author-name {
    font-size: 16px;
    line-height: 24px;
  }
  .responses__nik {
    font-size: 16px;
    line-height: 30px;
  }
  .responses__visible {
    position: relative;
    z-index: 4;
    width: 100%;
    margin-bottom: 0;
  }
  .responses__ctrls {
    position: absolute;
    right: 0px;
    bottom: 50px;
    z-index: 10;
    width: 175px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
  }
  .responses__add-btn {
    order: -1;
    width: 175px;
    margin-left: auto;
    margin-bottom: 33px;
  }
}
@media (min-width: 1150px) {
  .responses {
    background-image: none;
  }
  .responses__inner-wrapper {
    padding-left: 175px;
    background-image: url("../img/responses-bg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .responses__title {
    font-size: 50px;
    line-height: 57px;
  }
}
.contacts {
  font-family: "open sans", sans-serif;
}
.contacts__inner-wrapper {
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .contacts__inner-wrapper {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .contacts__inner-wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
.contacts__title {
  margin-top: 0;
  padding: 0 30px;
  font-family: verdana, sans-serif;
  font-size: 24px;
  line-height: 30px;
}
.contacts__content {
  width: 100%;
  padding: 0 30px;
  font-size: 14px;
  line-height: 30px;
  color: #444444;
}
.contacts__email,
.contacts__adress {
  margin-bottom: 30px;
}
.contacts__content div {
  display: inline-block;
  vertical-align: top;
}
.contacts__content .first-col {
  width: 70px;
}
.contacts__visible-map {
  position: relative;
  height: 455px;
  width: 100%;
  margin-bottom: 40px;
}
#map {
  position: absolute;
  height: 100%;
  width: 100%;
}
.contacts__feedback-btn {
  display: block;
  width: calc(81.25%);
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .contacts__inner-wrapper {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
  }
  .contacts__inner-wrapper::before {
    content: "";
    position: absolute;
    right: 46px;
    height: 80px;
    width: 4px;
    background-color: #000000;
  }
  .contacts__inner-wrapper::after {
    content: "";
    position: absolute;
    right: 4px;
    border-left: 40px solid #62d1ba;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: none;
  }
  .contacts__title {
    font-size: 40px;
    line-height: 50px;
  }
  .contacts__content {
    display: flex;
    justify-content: space-between;
  }
  .contacts__email,
  .contacts__adress {
    width: 50%;
  }
  .contacts__feedback-btn {
    width: 230px;
    margin: 0 auto;
  }
}
@media (min-width: 1150px) {
  .contacts__inner-wrapper {
    padding-left: 175px;
    height: 530px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .contacts__inner-wrapper::before {
    left: 60px;
    top: 70px;
  }
  .contacts__inner-wrapper::after {
    left: 68px;
    top: 70px;
  }
  .contacts__flex-wrapper {
    order: -2;
    width: 40%;
    margin-top: 30px;
  }
  .contacts__title {
    width: 100%;
    font-size: 50px;
    line-height: 57px;
  }
  .contacts__content {
    top: 180px;
    width: 100%;
    flex-direction: column;
    font-size: 16px;
    line-height: 30px;
  }
  .contacts__email,
  .contacts__adress {
    width: 100%;
  }
  .contacts__visible-map {
    height: 455px;
    width: 60%;
    margin-bottom: 0;
  }
  #yandex-map {
    position: static;
  }
  .contacts__feedback-btn {
    order: -1;
    margin: 0 0;
  }
}
.page-footer {
  background-color: #f1f1f1;
}
.page-footer__inner-wrapper {
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .page-footer__inner-wrapper {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .page-footer__inner-wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
.page-footer__logo {
  display: none;
}
.page-footer__social-wrapper {
  border-bottom: 1px solid #e5e5e5;
}
.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: 80px;
  margin: 0 auto;
}
.social-btn {
  width: 50px;
  height: 50px;
  background: url("../img/social-sprite.png") no-repeat;
  font-size: 0;
  transition: background-position 0.2s;
}
.social-btn_inst {
  background-position: 14px 9px;
}
.social-btn_inst:hover {
  background-position: 14px -82px;
}
.social-btn_inst:active {
  background-position: 14px -173px;
}
.social-btn_fb {
  background-position: -46px 10px;
}
.social-btn_fb:hover {
  background-position: -46px -81px;
}
.social-btn_fb:active {
  background-position: -46px -173px;
}
.social-btn_twit {
  background-position: -104px 9px;
}
.social-btn_twit:hover {
  background-position: -104px -82px;
}
.social-btn_twit:active {
  background-position: -104px -173px;
}
.page-footer__copyright {
  padding: 18px 0 14px;
  text-align: center;
  font-family: verdana, sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
}
.page-footer__copyright-logo {
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}
.page-footer__copyright-svg {
  fill: #63d1bb;
}
.page-footer__copyright-svg:hover {
  fill: #46c1ae;
}
.page-footer__copyright-svg:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .page-footer__inner-wrapper {
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-height: 140px;
  }
  .page-footer__logo {
    display: block;
    padding-right: 78px;
  }
  .page-footer__logo-svg:hover {
    fill: #46c1ae;
  }
  .page-footer__logo-svg:active {
    opacity: 0.3;
  }
  .page-footer__social-wrapper {
    border: none;
  }
}
.inner-page__title {
  background-color: #f1f1f1;
}
.inner-page__title h1 {
  margin: 0 auto;
  min-height: 176px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 74px 30px;
  text-align: center;
  font-family: verdana, sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}
@media (min-width: 768px) {
  .inner-page__title h1 {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .inner-page__title h1 {
    width: 91%;
    max-width: 1050px;
  }
}
@media (min-width: 768px) {
  .inner-page__title {
    position: relative;
  }
  .inner-page__title:after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 24px;
    background: url("../img/zigzag-white.png") no-repeat;
    background-size: 100%;
  }
  .inner-page__title h1 {
    min-height: 230px;
    padding: 90px 30px;
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
  }
}
.catalog {
  margin: 0 auto;
  padding: 0 30px 57px 15px;
  font-family: verdana, sans-serif;
}
@media (min-width: 768px) {
  .catalog {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .catalog {
    width: 91%;
    max-width: 1050px;
  }
}
.catalog-item {
  margin-top: 30px;
  border: 1px solid #ececec;
  cursor: pointer;
}
.catalog-item:hover {
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.1);
}
.catalog-item:active {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}
.catalog-item:hover .catalog-item__cart-icon {
  fill: #63d1bb;
  opacity: 1;
}
.catalog-item:active .catalog-item__cart-icon {
  opacity: 0.3;
}
.catalog-item:hover .catalog-item__title,
.catalog-item:hover .catalog-item__price {
  opacity: 0.6;
}
.catalog-item:active .catalog-item__title,
.catalog-item:active .catalog-item__price {
  opacity: 0.3;
}
.catalog-item__photo-container {
  margin: 0;
  background-color: #f1f1f1;
  flex-shrink: 0;
}
.catalog-item__photo {
  display: block;
  margin: 0 auto;
  width: 100%;
  height: auto;
}
.catalog-item__info {
  padding: 28px;
  padding-bottom: 0;
}
.catalog-item__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.catalog-item__stats {
  display: block;
  margin-bottom: 30px;
  font-family: "open sans", sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}
.catalog-item__purchase {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
  border-top: 1px solid #ececec;
}
.catalog-item__price {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
}
.catalog-item__cart-icon {
  fill: #231F20;
  opacity: 0.2;
  transition: opacity 0.3s, fill 0.3s;
}
@media (min-width: 768px) {
  .catalog {
    padding-left: 0;
    padding-right: 0;
    padding-top: 60px;
  }
  .catalog-item {
    display: flex;
  }
  .catalog-item__info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .catalog-item__title {
    font-size: 18px;
    line-height: 24px;
  }
  .catalog-item__stats {
    font-size: 15px;
    line-height: 30px;
  }
  .catalog-item__purchase {
    margin-top: auto;
  }
  .catalog-item__price {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1150px) {
  .catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .catalog-item {
    width: 30%;
    flex-direction: column;
  }
}
.manufacture-wrapper {
  margin: 0 auto;
  padding: 15px 30px 60px;
}
@media (min-width: 768px) {
  .manufacture-wrapper {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .manufacture-wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
.manufacture {
  border: 1px solid #ececec;
  font-family: verdana, sans-serif;
}
.manufacture:hover {
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.1);
}
.manufacture:active {
  box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.1);
}
.manufacture__title {
  margin: 0;
  padding-left: 35%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url("../img/video.png");
  background-repeat: no-repeat;
  background-position: 14% center;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}
.manufacture__video-container {
  position: relative;
}
.manufacture__video-container::after {
  content: "";
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin-top: -39px;
  margin-left: -50px;
  width: 101px;
  height: 77px;
  background-image: url("../img/play.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s;
}
.manufacture__video-container:hover::after {
  transform: scale(1.2);
}
.manufacture__video-container:active::after {
  transform: scale(0.9);
  opacity: 0.3;
}
.manufacture__video {
  z-index: 5;
  display: block;
  min-height: 150px;
  width: 100%;
  margin: 0 auto;
  background-image: url("../img/video-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}
.manufacture__info {
  padding: 30px;
}
.manufacture__description {
  font-family: "open sans", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}
.manufacture__purchase-btn {
  width: 100%;
}
@media (min-width: 768px) {
  .manufacture-wrapper {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .manufacture {
    display: flex;
    flex-direction: column;
  }
  .manufacture__video-container {
    order: -1;
  }
  .manufacture__title {
    padding-left: 16%;
    padding-top: 40px;
    background-position: left 30px center;
    font-size: 18px;
    line-height: 24px;
  }
  .manufacture__info {
    padding-top: 0;
  }
  .manufacture__description {
    margin-bottom: 37px;
    font-size: 16px;
    line-height: 30px;
  }
}
@media (min-width: 1150px) {
  .manufacture {
    height: 456px;
    flex-wrap: wrap;
  }
  .manufacture__title {
    width: 35%;
    padding-left: 78px;
    padding-right: 60px;
    padding-top: 95px;
    background-position: left 78px top 46px;
  }
  .manufacture__video-container {
    width: 65%;
    height: 456px;
    display: flex;
  }
  .manufacture__video {
    flex-grow: 1;
  }
  .manufacture__info {
    width: 35%;
    padding-left: 78px;
    padding-right: 60px;
    margin-top: auto;
  }
}
.form {
  font-family: verdana, sans-serif;
}
.form__promo {
  margin: 0 auto;
  padding: 30px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "open sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: #444444;
}
@media (min-width: 768px) {
  .form__promo {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .form__promo {
    width: 91%;
    max-width: 1050px;
  }
}
.form__promo br {
  display: none;
}
.form__fieldset {
  margin: 0 auto;
  padding: 0 30px;
  border: none;
}
@media (min-width: 768px) {
  .form__fieldset {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .form__fieldset {
    width: 91%;
    max-width: 1050px;
  }
}
.form__title {
  position: relative;
  padding-right: 30px;
  margin-bottom: 25px;
  margin-top: 25px;
  font-family: "open sans", sans-serif;
  font-size: 17px;
  line-height: 17px;
  font-weight: bold;
  color: #62d1ba;
  text-transform: uppercase;
}
.form__title span {
  position: relative;
  z-index: 2;
  padding-right: 30px;
  background-color: #ffffff;
}
.form__title::after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 50%;
  height: 1px;
  background-color: #62d1ba;
}
.form__fieldset_type label {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 63px;
  font-size: 19px;
  line-height: 20px;
  font-weight: bold;
}
.form__fieldset_type label:last-child {
  margin-bottom: 0;
}
.visible-radiobox {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -18px;
  width: 37px;
  height: 37px;
  box-shadow: 0 0 0 2px #444444;
  border: 10px solid transparent;
  border-radius: 50%;
  background-clip: content-box;
  transition: background-color 0.2s;
}
.visible-radiobox:hover {
  box-shadow: 0 0 0 2px #62d1ba;
}
.visible-radiobox:active {
  box-shadow: 0 0 0 2px rgba(68, 68, 68, 0.3);
}
.invisible-radiobox:checked + .visible-radiobox {
  background-color: #62d1ba;
}
.invisible-radiobox {
  display: none;
}
.form__fieldset_color label {
  position: relative;
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 63px;
  margin-bottom: 15px;
  font-size: 19px;
  line-height: 20px;
  font-weight: bold;
}
.visible-checkbox {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  left: 0;
  height: 41px;
  width: 41px;
  border: 2px solid #444444;
  overflow: hidden;
  background-image: url('../img/tick-mobile.png');
  background-repeat: no-repeat;
  background-position: -100px -100px;
  transition: background-position 0.2s;
}
.visible-checkbox:hover {
  border-color: #62d1ba;
}
.visible-checkbox:active {
  border-color: rgba(68, 68, 68, 0.3);
}
.invisible-checkbox:checked + .visible-checkbox {
  background-position: 50% 50%;
}
.invisible-checkbox {
  display: none;
}
.textfield {
  padding-top: 15px;
  padding-bottom: 15px;
  border: none;
  border-bottom: 2px solid #000000;
  font-size: 19px;
  line-height: 20px;
  font-weight: 400;
  background-color: transparent;
}
.textfield:hover {
  border-color: #62d1ba;
}
.textfield:focus {
  outline: none;
}
.form__fieldset_fullname label {
  display: block;
  margin-bottom: 25px;
  font-size: 19px;
  line-height: 20px;
  font-weight: bold;
}
.form__fieldset_fullname input {
  display: block;
  width: 100%;
}
.textfield.tel-icon {
  width: 100%;
  padding-right: 40px;
  background-image: url("../img/phone&email-icon.png");
  background-repeat: no-repeat;
  background-position: right 10px;
}
.textfield.tel-icon:hover {
  background-position: right 3px top -42px;
}
.textfield.letter-icon {
  width: 100%;
  padding-right: 40px;
  background-image: url("../img/phone&email-icon.png");
  background-repeat: no-repeat;
  background-position: right 5px top -109px;
}
.textfield.letter-icon:hover {
  background-position: right 6px top -157px;
}
.form__fieldset_additional {
  padding-bottom: 30px;
}
textarea.textfield {
  width: 100%;
  height: 150px;
  padding: 15px;
  border: 2px solid #000000;
}
.submit-wrapper {
  margin: 0 auto;
  padding: 30px;
}
@media (min-width: 768px) {
  .submit-wrapper {
    width: 87%;
  }
}
@media (min-width: 1150px) {
  .submit-wrapper {
    width: 91%;
    max-width: 1050px;
  }
}
.submit-wrapper span {
  display: none;
}
.form__submit {
  width: 100%;
}
@media (min-width: 768px) {
  .form-wrapper_grey {
    background-color: #f1f1f1;
  }
  .form__promo {
    padding-left: 0;
    padding-right: 0;
  }
  .form__promo br {
    display: inline;
  }
  .form__fieldset {
    position: relative;
    padding-right: 0;
    padding-left: 167px;
  }
  .form__title {
    position: absolute;
    left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .form__title span {
    background-color: transparent;
  }
  .form__title::after {
    display: none;
  }
  .form__fieldset_type {
    padding-top: 45px;
    padding-bottom: 45px;
  }
  .form__fieldset_type label {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 15px;
  }
  .form__fieldset_type label:last-child {
    margin-bottom: 0;
  }
  .visible-radiobox {
    margin-top: -24px;
    width: 48px;
    height: 48px;
    box-shadow: 0 0 0 2px #444444;
    border: 13px solid transparent;
  }
  .form__fieldset_color {
    padding-top: 60px;
    padding-bottom: 35px;
  }
  .form__fieldset_color label {
    display: inline-block;
    width: 49%;
    margin-bottom: 24px;
  }
  .visible-checkbox {
    margin-top: -26px;
    left: 0;
    height: 52px;
    width: 52px;
    border: 2px solid #444444;
    overflow: hidden;
    background-image: url('../img/tick-tablet.png');
    background-repeat: no-repeat;
    background-position: -100px -100px;
  }
  .form__fieldset_fullname {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .form__fieldset_fullname label {
    display: flex;
    align-items: center;
  }
  .form__fieldset_fullname label:last-child {
    margin-bottom: 0;
  }
  .form__fieldset_fullname input {
    display: inline-block;
    width: auto;
    margin-left: 25px;
    padding-left: 16px;
    padding-right: 16px;
    flex-grow: 1;
  }
  .form__fieldset_tel {
    padding-top: 50px;
    padding-bottom: 10px;
  }
  .form__fieldset_tel .textfield {
    padding-left: 16px;
    padding-right: 50px;
    background-image: url("../img/phone&email-icon.png");
    background-repeat: no-repeat;
    background-position: right 10px  top 10px;
  }
  .form__fieldset_tel .textfield:hover {
    background-position: right 13px top -42px;
  }
  .form__fieldset_email {
    padding-top: 10px;
    padding-bottom: 50px;
  }
  .form__fieldset_email .textfield {
    padding-left: 16px;
    padding-right: 50px;
    background-image: url("../img/phone&email-icon.png");
    background-repeat: no-repeat;
    background-position: right 15px top -109px;
  }
  .form__fieldset_email .textfield:hover {
    background-position: right 16px top -157px;
  }
  .form__fieldset_additional {
    padding-top: 60px;
  }
  .submit-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 50px;
  }
  .submit-wrapper span {
    display: inline;
  }
  .form__submit {
    max-width: 230px;
  }
}
@media (min-width: 1150px) {
  .form__promo {
    padding-left: 175px;
    padding-right: 175px;
  }
  .form__fieldset {
    padding-left: 175px;
    padding-right: 175px;
  }
  .form__fieldset_color label {
    width: calc(32.78688525%);
  }
  .submit-wrapper {
    padding-left: 175px;
    padding-right: 175px;
  }
}
